#cart{
    width: 30%;
    height: 100vh;
    margin-left:auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: scroll;
    position: absolute;
    right: 0;
    top: 0;
    background-color: white;
}
.cross{
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
}

h1{
    text-align: center;
}