.flex{
    display: flex;
}
.ml-auto{
    margin-left: auto;
}
ul{
list-style-type: none;
}
.nav{
background-color: skyblue;
padding: 10px;
}
#cart_btn{
    background-color: rgb(33, 171, 33);
    padding: 10px;
    color: white;
    cursor: pointer;
}

a{
    text-decoration: none !important;
    color: aliceblue !important;
    font-size: 20px;
}

